body {
  background-color: darkkhaki;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

/*
Header with searching bar configuration in display flex and then
main content in display grid
 */
.menu-logo {
  display: flex;
  align-items: center;
}

.menu-logo img {
  height: 24px;
  margin-right: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.search-bar input {
  width: 50%;
  padding: 5px;
}

.search-bar button {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  padding: 5px;
  height: 29px;
}

.search-bar button img {
  height: 100%;
}

.user-options {
  display: flex;
  align-items: center;
}

.user-options img {
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
}

/*
Header with searching bar configuration in display flex and then
main content in display grid
 */

.main-aside {
  border: 1px solid black;
  margin: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
}

.main-class {
  border: 1px solid black;
  margin: 20px;
  display: grid;
}

.aside-class {
  border: 1px solid black;
  display: grid;
  grid-gap: 1px;
  height: auto;
  width: 120px;
  margin: 20px;
}

/* button animation */
.btn {
  background: transparent;
  border: none;
  position: relative;
  height: 30px;
  width: 90px;
  margin: 10px;
  cursor: pointer;
}

.btn-back {
  border-radius: 10px;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.btn-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: rgb(252, 78, 78);
  color: #fff;
  border: solid 2px black;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 10px;
  font-size: 1rem;
  /* font-weight: bold; */
  transition: all 0.3s;
}

.btn img {
  opacity: 0;
  position: absolute;
  top: -50px;
  left: -50px;
  width: 100px;
  height: 100px;
  z-index: 3;
  transition: all 0.3s;
}

.btn:hover .btn-text {
  transform: translate(-15px, -10px) rotate(-2deg);
}

.btn:hover .btn-back {
  transform: rotate(-2deg);
}
/* button animation */
